{% extends 'layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body %}
    <main>
        <form action="" class="form">
            <div class="title1">
                <h3>Get started here</h3>

                <div class="title2">
                    <h1>Create your business account</h1>
                    <a href="">Already have account? <span>Login</span></a>
                </div>
            </div>

            <div class="form-div">
                <div class="inputs-div">
                    <input type="text" class="name_input" name="name" placeholder="Name" id="name">
                    <input type="text" class="surname_input" name="surname" placeholder="Surname" id="surname">
                </div>

                <input type="email" class="email" name="email" id="email" placeholder="Email">

                <input type="email" class="email" name="email" id="email" placeholder="Email">

                <div class="pnum-div">
                    <input type="number" class="phoneindex">
                </div>
            </div>
        </form>

        <img class="image" src="" alt="">
    </main>

    <script src="{% static 'js/daily.js' %}"></script>
{% endblock %}